<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>RTree</servlet-name>
		<servlet-class>com.roger.RTreeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RTree</servlet-name>
		<url-pattern>/rtree</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>index</servlet-name>
		<servlet-class>com.roger.IndexServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>index</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>insert</servlet-name>
		<servlet-class>com.roger.InsertServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>insert</servlet-name>
		<url-pattern>/insert</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>insertFile</servlet-name>
		<servlet-class>com.roger.InsertFileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>insertFile</servlet-name>
		<url-pattern>/insertFile</url-pattern>
	</servlet-mapping>	
	<welcome-file-list>
		<welcome-file>rtree.jsp</welcome-file>
	</welcome-file-list>
 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value/>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
</web-app>